div {
    margin: 100px;
    width: 200px;
    height: 200px;
    background-color: darkorange;
    /* Переход */
    /* 1s Продолжительность перехода */
    transition: 1s, width 2s;
}

.div-1:hover {
    border-radius: 50%;
    width: 300px;
    /* Трансформация поворота фигуры */
    transform: rotate(90deg);
}